<div class="way-res">

    <span class="res-area airlines"> <p class="airlines-name"> <%= item.name %> </p>  </span>

    <span class="res-area general-info">
                <span class="from-info">
                      <p class="city-time first-time"> <%= item.timeTo %> </p>
                     <p class="city-time first-city"> <%= item.start %> </p>
                </span>
                <span class="to-info">
                    <p class="city-time sec-time"> <%= item.timeBack %> </p>
                <p class="city-time sec-city"> <%= item.end %> </p>
            </span>
                 </span>

    <span class="res-area price-block"> <p class="price"> <%= item.price %> </p>  </span>

</div>=